/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Inter+Display:wght@400;500;600;700&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  font-family: 'Inter', sans-serif;
} */

body {
  font-family: "Inter Tight", sans-serif;
}

.dynamic-Padding {
  padding: 112px 10px 112px 10px;
}

.globalBg{
  background-color: #f7f4ef;
}

.globalButtonColor{
  background-color: #215e41;
}

.globalTextColor{
  color: #40916C;
}

.heroBg{
  background-color: #112B1E;
}

.dynamic-paddingUP-Down {
  padding: 40px 0px 80px 0px;
}

@media (max-width: 767px) {
  .dynamic-paddingUP-Down {
    padding: 40px 0px 40px 0px;
  }
}

.global-button-background{
  background-color: #1a3a2a;
}

@layer components {
  .cp {
    @apply px-4 md:px-10;
  }
}
@layer components {
  .lcp {
    @apply px-0 md:px-0;
  }
}


.globalHeadingTextSize {
  font-size: 30px;
  line-height: 1.2;
}

@media (min-width: 768px) {
  .globalHeadingTextSize {
    font-size: 40px;
  }
}

@media (min-width: 1024px) {
  .globalHeadingTextSize {
    font-size: 50px;
  }
}

/* .allPY{
  padding-top: 80px;
  padding-bottom: 80px
} */

.container {
  @apply max-w-[1440px] mx-auto px-4 md:px-10;
}

.flightCarHotelContainer {
  @apply max-w-[1300px] mx-auto px-4 md:px-10;
}

.mediumDeviceContainer {
  @apply max-w-[1368px] mx-auto md:px-1;
}
